In [1]:
import pandas as pd

from sklearn.datasets import fetch_california_housing
california = fetch_california_housing()  # Bunch object

df = pd.DataFrame(california.data, columns=california.feature_names)
df["Value"] = california.target

features = df.drop("Value", axis=1)
target = df["Value"]

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

#split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=3000)


model = LinearRegression().fit(X=X_train, y=y_train)


print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test)))

R-squared value for training set:  0.6095160399631113
R-squared value for testing set:  0.5954462325232102

In [3]:
X_train

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
6793,2.7483,28.0,4.106509,1.111440,2934.0,2.893491,34.09,-118.14
3521,4.5800,33.0,6.009862,1.039448,1578.0,3.112426,34.27,-118.49
15743,1.3844,29.0,3.456464,0.960422,1009.0,2.662269,37.78,-122.43
9759,2.8775,13.0,4.685864,1.083770,2474.0,4.317627,36.57,-121.42
5800,1.7301,7.0,3.208398,1.041991,1892.0,2.942457,34.15,-118.24
...,...,...,...,...,...,...,...,...
14937,4.0298,5.0,4.531128,1.054475,1213.0,2.359922,32.64,-117.04
1876,2.2589,19.0,7.601064,1.553191,585.0,3.111702,38.94,-119.96
17333,5.2990,12.0,7.214932,1.047511,1200.0,2.714932,34.91,-120.44
18350,7.0309,29.0,5.436782,1.183908,359.0,4.126437,37.41,-122.15
9208,2.8167,10.0,6.080078,1.150391,1508.0,2.945312,37.19,-119.68

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [16]:
pd.DataFrame(X_train_scaled).head()

,0,1,2,3,4,5,6,7
0,-0.589842,-0.050458,-0.618015,0.046045,1.409191,-0.016051,-0.715200,0.708208
1,0.380228,0.347570,0.287317,-0.141519,0.151093,0.003910,-0.631035,0.533534
2,-1.312165,0.029148,-0.927209,-0.347407,-0.376825,-0.037133,1.010187,-1.432799
3,-0.521418,-1.244541,-0.342444,-0.026045,0.982403,0.113793,0.444410,-0.928739
4,-1.129082,-1.722174,-1.045202,-0.134894,0.442423,-0.011587,-0.687145,0.658301

In [11]:
model = LinearRegression().fit(X = X_train_scaled, y = y_train)

In [12]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
print('R-squared value for training set', r2_score(y_train, model.predict(X_train_scaled)))
print('R-squared value for the testing set', r2_score(y_test, model.predict(X_test_Scaled)))

R-squared value for training set 0.6095160399631113
R-squared value for the testing set 0.5954462325232106